# Banco de Dados PostgreSQL - pode ser banco local ou supabase
DATABASE_URL=postgresql://user:password@localhost:5432/sgpc
DIRECT_URL=postgresql://user:password@localhost:5432/sgpc

# Segurança
SECRET_KEY=substitua_por_uma_chave_secreta_segura
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Observabilidade (Axiom) app.axiom.co
AXIOM_TOKEN=
AXIOM_DATASET=

# (opcional) para ver logs na plataforma testando localmente, precisa inserir VERCEL=1 no '.env'
VERCEL=

# (opcional) para fazer o endpoint de desenvolvimento funcionar, é necessário
ENVIRONMENT=development