# Banco de Dados PostgreSQL - pode ser banco local ou supabase
DATABASE_URL=postgresql://user:password@localhost:5432/sgpc
DIRECT_URL=postgresql://user:password@localhost:5432/sgpc

# Segurança
SECRET_KEY=substitua_por_uma_chave_secreta_segura
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Observabilidade (Axiom) app.axiom.co
AXIOM_TOKEN=
AXIOM_DATASET=
